<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>ToDoList Elite Solution</title>

    <!-- Boxicons CSS -->
    <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<main class="home">
    <div class="text" th:replace="~{fragments/dashboard :: dashboard}"></div>
</main>
<script th:src="@{/js/index.js}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
</body>
</html>
