<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Profile</title>

    <!-- Boxicons CSS -->
    <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="fragments/sidebar :: sidebar"></div>
<main class="home">
    <div class="profile-container">
        <h1>Your Profile</h1>
        <div class="form-group">
            <label>Name:</label>
            <h4 th:text="${username}"></h4>
        </div>
        <div class="form-group">
            <label>Total Tasks:</label>
            <h4 th:text="${totalTasks}"></h4>
        </div>
    </div>
</main>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
